html {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #cecccc;

}

.footer {
    overflow: hidden;
    width: 100%;
    height: 130px;
    background-color: #f17034;
}

.footer1 {
    float: left;
    margin-left: 40px;
    width: 50%;
}

.footer2 {
    float: right;
    width: 23%;
}

.footer a {
    float: left;
    color: black;
    font-weight: bold;
    padding-inline-end: 50px;
    text-underline-position: under;
    margin-top: -4px;
}



.navbar {
    overflow: hidden;
    background-color: #f17034;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    margin-left: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #00c8c8;
}

.rightMenu {
    float: right;
    margin-right: 30px;
}

#contact {
    position: fixed;
    /* or absolute */
    top: 93%;
    left: 37px;
}

.row {
    margin: auto;
    width: 97%;
}

.column {
    float: left;
    width: 20%;
    padding: 20px;
}

.columnAbout {
    float: left;
    width: 50%;
    padding: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#title {
    margin-top: -10px;
    font-weight:bold;
    color: #f17034;
    text-underline-position: under;
    font-size: 290%;
}

@media screen and (max-width: 850px) {
    .column {
        width: 100%;
    }

    .columnAbout {
        width: 100%;
    }

    .rightMenu {
        margin-top: -10px;
        float: left;
    }

    .footer {
        height: 190px;
    }

    .footer2 {
        float: left;
    }

    .footer a {
        margin-top: 10px;
    }
}

dl {
    margin-bottom: 80px;
}

.noteTitle {
    font-weight: bold;
    color: black;
    text-underline-position: under;
}

.noteTitle:hover {
    color: #f17034;
}


dd {
    margin: 0;
    margin-top: -8px;
}

.note {
    margin-bottom: 40px;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    /*font-family: 'VT323', monospace;*/
    color: #da5622;
    text-underline-position: under;

}

a:hover {
    text-decoration: none;
}

.medium {
    width: 100%;
    display: block;
    margin: 0 auto;
}


.aboutImg {
    width: 70%;
    display: block;
    margin: 0 auto;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    width: 50%;
}

#about {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
}


* {
    box-sizing: border-box;
}


/*Projects*/

.projects {
    background-color: #c8c8c8;
    ;
}

.projectImg {
    width: 100%;
    display: block;
    margin: 0 auto 37px;
}

.projectImgSmall {
    width: 43%;
    display: padding-inline-end;
    margin: 20px 20px 20px;
}

.title_project{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: -10;
}

.smallText{
    margin-top: -18px;
    margin-bottom: 40px;
}